
[Unit]
Description=Test script
After=multi-user.target
OnFailure=unit-status-mail@%n.service

[Service]
Type=idle
ExecStart=

[Install]
WantedBy=multi.user.target
